.outer-layer {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.moon {
  height: 450px;
  width: 850px;
  /* align-items: center;d
  display: block;
  margin-left: auto;
  margin-right: auto; */
}

body {
  font-family: "Overpass", sans-serif;
}

.main {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.social {
  list-style: none;
}

.office-info {
  list-style: none;
}
